<div class="fundo" style="margin-top: 30px;">
  <div class="container">
      <div class="row box">
            <div class="col-sm-4">
            <div class="card">
                <img class="mb-4" src="/assets/images/logo_branco.png" alt="" width="185" style="text-align: right;margin-top: -30px;">

            </div>
            </div>

            <div class="col-sm-4">
                <div class="card">
                    <h3>ENDEREÇO</h3>
                    Endereço: <br>Av. teste, 2986 - Bairro teste <br>teste, 5º andar<br>edifício teste <br>CEP: 00.000-000 <br> Teste/SP
                </div>
            </div>

            <div class="col-sm-4">
                <div class="card">
                    <h3>CONTATOS</h3>
                    <p><br>Disque Bayer:<br> 0800 000 00000</p>
                    <p>Disque denúncia:<br> 0800 000 0000</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container footer">
        ©2021 Bayer/COTIC | Todos os direitos reservados.
    </div>
  </div>



