

<div class ="container">
  <div class="row flex" style="width: 100%; justify-content: space-between;">
    <div style="padding: 10px;">
      <h1 class="display-3">{{tipo}} Usuário</h1>
    </div>
    <div >
      <span class="material-icons" style="cursor:pointer;" (click)="dialogRef.close();">
        close
        </span>
    </div>
  </div>
</div>

<div>
  <mat-vertical-stepper #stepper>
    <mat-step>
      <form>
        <ng-template matStepLabel>Informações básicas </ng-template>
          <div class="col-sm-4">
                <mat-form-field class="inputSize">
                  <mat-label>Usuário</mat-label>
                  <input matInput
                              [(ngModel)]="objUsuario.nickname"
                              [ngModelOptions]="{standalone: true}"
                              placeholder="Usuário"
                              required>
                </mat-form-field>
          </div>

          <div class="col-sm-8">
                <mat-form-field class="inputSize">
                  <mat-label>Nome</mat-label>
                  <input matInput
                              [(ngModel)]="objUsuario.name"
                              [ngModelOptions]="{standalone: true}"
                              placeholder="Nome"
                              required>
                </mat-form-field>
          </div>

          <div class="col-sm-2">
            <app-combo
              [items]="itemsTipoUsuario"
              [selected]="selectTipoUsuario"
              [titulo]="tituloTipoUsuario"
              (itemSelecionado)="selecaoItemsTipoUsuario($event);"
            ></app-combo>
          </div>
        <div class="row mt-2" >
          <button class="ml-2 mt-2" mat-button matStepperNext>Avançar</button>
        </div>
      </form>
      </mat-step>

      <mat-step>
        <form>
          <ng-template matStepLabel>Contato</ng-template>
          <div class="col-sm-3">
            <mat-form-field class="inputSize">
              <mat-label>Telefone</mat-label>
              <input matInput
                          mask="(00) 00000-0000"
                          [(ngModel)]="objUsuario.phone"
                          [ngModelOptions]="{standalone: true}"
                          placeholder="(00) 00000-0000"
                          required>
            </mat-form-field>
          </div>

          <div class="col-sm-3">
            <mat-form-field class="inputSize">
              <mat-label>E-mail</mat-label>
              <input matInput
                          [(ngModel)]="objUsuario.email"
                          [ngModelOptions]="{standalone: true}"
                          placeholder="E-mail"
                          required>
            </mat-form-field>
          </div>

          <div class="row mt-2" >
            <button class="ml-2 mt-2" mat-button matStepperPrevious>Voltar</button>
            <button class="ml-2 mt-2" mat-button matStepperNext>Avançar</button>
          </div>
        </form>
      </mat-step>

      <mat-step>
        <form>
          <ng-template matStepLabel>Segurança</ng-template>
          <div class="col-sm-3">
            <mat-form-field class="inputSize">
              <mat-label>Senha</mat-label>
              <input matInput type="password"
                          [(ngModel)]="objUsuario.password"
                          [ngModelOptions]="{standalone: true}"
                          required>
            </mat-form-field>
          </div>

          <div class="col-sm-3">
            <mat-checkbox
            [(ngModel)]="objUsuario.active"
            [ngModelOptions]="{standalone: true}"
            >
              Ativo
          </mat-checkbox>
          </div>

          <div class="row mt-2" >
            <button class="ml-2 mt-2" mat-button matStepperPrevious>Voltar</button>
            <button class="ml-2 mt-2" mat-button matStepperNext>Avançar</button>
          </div>
        </form>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Finalizar</ng-template>
        <div class="row mt-2" >

          <button class="ml-2 mt-2" mat-button matStepperPrevious>Voltar</button>
          <button class="ml-2 mt-2" mat-button *ngIf="tipo!='visualizar'" (click)="onSubmit()"> Salvar</button>
        </div>


      </mat-step>
    </mat-vertical-stepper>
  </div>

